{% extends 'base.html' %}
{% block content %}

<div class ='col-sm-12' style="text-align: center;">
    <h1> Thank you for Joining ! </h1>
    <h1>Join Now</h1>
        <form method="POST" action=""> {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success btn-block">
        </form>
</div>
{% endblock %}